
<div class="col-md-12" id="mypage" ng-controller="mainController">

    <img src={{dataSelected.mainData.general.image}} class=" pearl" />

    <div class=" auth" id="login">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <div class="row">
                    <p>Username: </p>
                    <input type='text' ng-model='user'>
                </div>
                <div class="row">
                    <p>Password: </p>
                    <input type='password' ng-model='pwd'>
                </div>
                <a ng-click="logId()">
                    <p><div class="btn label-info">Sign In</div></p>
                </a>
                <a href="#theme" id="redirect">
                    <p><div class="btn label-success">Take Me Inside</div></p>
                </a>
            </div>
        </div>
    </div>

    <div class="auth" id="incorrect">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <div>Incorrect Credentials</div>
            </div>
            <div class="panel-body text-center">
                <a ng-click="tryAgain()"><p><div class="btn label-info">Try Again</div></p></a>
            </div>
        </div>
    </div>

</div>