<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>
    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src={{dataSelected.mainData.covers.openletter}} class="pagebanner" />

        <div class="col-md-2" id="adslot1_pc">
            <div></div>
            <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
        </div>

        <div class="col-md-8" id="maincontent">

            <div class="col-md-12">

                <h1 style="text-align: center;border-bottom: none; color:darkblue" >AN OPEN LETTER</h1>

            </div>

            <div class="col-md-12">

                <p>11 April 2018</p>
                <br />

                <p>Babe...</p>
                <p>Im writing this letter now just after a conversation with you knowing that you are giving me a chance to get into your heart...</p>
                <p>In my life, I live for and value true love more than anything else...</p>
                <p>And its the choices that we make, that makes us who we are...</p>
                <p>I want to live a beautiful life, as an adventure, with the one I love...</p>
                <p>And meeting her and that love story we had was me making her and myself happy and hopeful by planning this beautiful life as letters, poems, conversations and dreams...</p>
                <p>We havent even met... Its not the person as such I loved... And she didnt really fight for me when I was ready to fight for her... I dont really know what she wanted... Its all about the choices margo... Everything becomes meaningless if we dont choose to act for what we want... So it was almost over the day she got engaged...</p>
                <p>And then I met you... And I just knew that the voice and the wild girl that she seemed to be in her texts was you altogether... I felt there was more of you in her that I love as I started talking to you more and more... But I couldnt just choose you then because she hadnt answered me properly and said she still loves me...</p>
                <p>So I held on to her, even when I knew you were in love with me and i had the same for you too... Because Im loyal Margo... If i say Im yours, Im yours... I will never give up on you no matter what...</p>
                <p>I wrote her many letters and poems and everything the time we were together... We dreamt too... Im not gonna list any of those here even though I feel it was all meant more for you than her...</p>
                <p>...</p>
                <p>So... If you love me and want to know more about me and my love for you, and about the way I see life and the way I want to live it with you, then spend some time with me and you will know it all... And if you feel like being mine and living a beautiful life together with me, then choose me, and we will have the best times ahead...</p>
                <p>I love you more than you have ever realised it...</p>
                <p>I hope to live and script a beautiful love story with you...</p>
                <p>Even though I may sound poetic, I know and realise there is a lot to come together and to choose for us to happen... And I want you to know that I mean what I say and Im ready to risk whatever I have to, to make this happen...</p>
                <p>I love you margo...</p>
                <p>Talk to you soon...</p>
                <p>See you...</p>

            </div>

        </div>

        <div class="col-md-2" id="adslot2_pc">
            <div></div>
            <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
        </div>

    </div>

</div>
